# .NET build artifacts
backend-dotnet/bin/
backend-dotnet/obj/

# Angular build/cache artifacts
transport-rim-front/.angular/
transport-rim-front/dist/
transport-rim-front/node_modules/

# User secrets & local settings
backend-dotnet/appsettings.Development.json

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db
